<div class="container">
  <div class="row">
    <div class="col">
      <img src="../assets/ide-horizontal.png" class="logo">
    </div>
  </div>
  <form [formGroup]="contactForm">
    <div class="row">
      <div class="col col-4">
        <div class="form-group">
          <label>Imię</label>
          <input type="text" formControlName="first-name" class="form-control">
        </div>
        <div class="form-group">
          <label>Nazwisko</label>
          <input type="text" formControlName="last-name" class="form-control">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control">
        </div>
        <div class="card" [formGroup]="address" *ngFor="let address of addresses.controls; let idx = index">
          <div class="card-header">
            <button type="button" class="close" (click)="removeAddress(idx)">
              <span>&times;</span>
            </button>
          </div>
          <div class="card-body">
            <h5 class="card-title">Adres</h5>
            <div class="form-group">
              <label>Typ adresu</label>
              <select formControlName="type" class="form-control">
                <option *ngFor="let type of addressTypes">{{type}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Ulica</label>
              <input formControlName="street" class="form-control">
            </div>
            <div class="form-group">
              <label>Miasto</label>
              <input formControlName="city" class="form-control">
            </div>
            <div class="form-group">
              <label>Kod pocztowy</label>
              <input formControlName="postal-code" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="addAddress()">Dodaj adres</button>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="save()" [disabled]="contactForm.invalid || contactForm.pristine ? 'disabled' : null">Zapisz</button>
    </div>
  </div>
</div>
